@font-face {
    font-family: 'Roboto Condensed';
    src:
    url('./fonts/RobotoCondensed-Bold.ttf'),
    url('./fonts/RobotoCondensed-BoldItalic.ttf'),
    url('./fonts/RobotoCondensed-Italic.ttf'),
    url('./fonts/RobotoCondensed-LightItalic.ttf'),
    url('./fonts/RobotoCondensed-Regular.ttf');
    
}
@font-face{
    font-family: 'Roboto Condensed Light';
    src: url('./fonts/roboto-condensed-light.woff.ttf');
}
@font-face {
    font-family:'Great Vives';
    src: url('./fonts/GreatVibes-Regular.ttf');
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*etiquetas*/

/* todo HEADER */
.header{
    font-family: 'Roboto Condensed';
    background: url("img/violenciainfantil.jpg"); 
    background-size: 100% 100%;
    height:41rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.subtitle,.title, .paz{
    color: #fff;
}

.title{
    background: linear-gradient(#ff0000, #ff17A2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #ff17A2;
    font-size:6rem;
    -webkit-text-stroke: .5px rgb(34, 2, 2);
    
}
.subtitle{
    font-size:2.5rem;
}
.paz{
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
}
.how-do-denunciation {
    display: grid;
    row-gap: 1rem;
    grid-auto-flow:row;
    margin-top: 2rem;
}
.how-do-denunciation h4{
    color: #ff47b2;
    font-size: 2rem;
    justify-self: end;
    margin-right: 3rem;
}
#anonima, #condatos, #socorro{
    justify-self: center;
    color: #fff;
    text-align: center;
    margin-left: 50rem;
    font-size: 1.2rem;
}

#anonima:hover, #condatos:hover, #socorro:hover{
    border-bottom: 3px solid #FF17A2;
    color: #FF17A2;
    text-shadow: 3px 3px 3px rgb(#fff,#fff ,#fff,0.3);
}

/*! responsive */
@media screen and (max-width:1000px) {
    .title{
        font-size:5rem;
    }    
    .subtitle{
        font-size: 2rem;
    }
    .paz{
        font-size: 1rem;
    }
    .how-do-denunciation h4{
        font-size: 1.7rem;
        justify-self: center;
    }
    #anonima, #condatos, #socorro{
        font-size: 1.1rem;
        margin-left: 2rem;
    }
}
@media screen and (max-width:700px) {
    .title{
        font-size:3.5rem;
    }    
    .subtitle{
        font-size: 1.5rem;
    }
    .paz{
        font-size: .8rem;
    }
    .how-do-denunciation h4{
        font-size: 1.5rem;
        justify-self: center;
    }
    #anonima, #condatos, #socorro{
        font-size: 1rem;
        margin-left: 2rem;
    }
}

.principal{
    display: none;
    font-family: 'Roboto Condensed';
}

/* todo MENU DE NAVEGACIÓN */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.menu li {
    list-style: none;
}

#btn-inicio, #btn-denunciacd{
    width: 40px;
    height: 40px;
}

.titulo-denuncia-con-datos{
    text-align: center;
    color: #FF17A2;
    padding: 1rem;
}
/* todo DENUNCIA REGISTRANDO DATOS*/

.denuncia-con-datos{
    background-color: #fff;
}

#registro{
    display:grid;
}

.register-datos{
    display: flex;
    flex-direction: row ;
}

/*  todo Formulario de registro */
/* .datos{
    
} */
.datos h4{
    color:#FF17A2;
    text-align: center;
    padding: 1rem;
}
.datos fieldset{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: dotted 1px #FF17A2;
    padding: 0.5rem 2rem;
}
.datos fieldset legend, .registro-denuncia legend{
    text-align: left;
    color: #fff;
    padding:.5rem;
    background-color: #FF17A2;
    font-size: 0.9rem;
}

.datos fieldset label, .registro-denuncia label{
    font-size: 0.8rem;
    font-family: 'Roboto Condensed Light';
    font-weight: bold;
    color: #FF17A2;
    padding: 0.3rem;
}


.datos fieldset>input, select{
    border: solid 1px #0000003b;
    border-radius: 5px;
    height: 35px;
    text-align: center;
}

select {
    color: #0000009f;
}

option[value=""][disabled] {
    display: none;
}

option {
    color:rgb(22, 21, 21);
}

.botones-cif-descif{
    display: flex;
    justify-content: center;
    border:none;
    text-align: center;
    margin-top: 1rem;
}

.botones-cif-descif pre{
    font-family: 'Roboto Condensed';
    color: #FF17A2;
    text-align: center;
}

#btn-encrypt,#btn-descifrar,#btn-limpiar{
    background-color: transparent;
    font-size: 0.8rem;
    border: none;
    color: #FF17A2;
    padding: 0px 20px;
} 
#btn-encrypt img,#btn-descifrar img, #btn-limpiar img{
    width: 40px;
    height: 40px;
}


/* todo ACORDEON DE INSTRUCCIONES Y EXPLICACIÓN DEL CIFRADO CÉSAR */
.acordeon{
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.exp{
    margin-top: 70px;
    justify-self: center;
    background-color: #FF17A2;
    padding: 0.8rem;
    border: none;
    text-align:center;
    color: #fff;
    font-family: 'Roboto Condensed';
    transition: 0.4s;
}
.active, .exp:hover {
    background-color: #ccc;
    color: #000000;
}
.exp:after {
    content: '\002B';
    color:#fff;
    font-weight: bold;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: #000;
}

.panel {
    padding: 0 1rem;
    background-color:transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel ol{
    font-family: 'Roboto Condensed Light';
    font-weight: bold;
    font-size: 0.9rem;
    padding: 1rem;
}

li::marker{
    color: #FF17A2;
}

/* todo CAJA DE OFFSET*/
.desplazamiento{
    border: dotted 1px #FF17A2;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 1rem;
    
}
.titulo{
    background-color: #ff17A2;
    color: #fff;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    text-align: center;
}
.body-offset{
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "explicacion" "offset " "texto";
}
.input-offset{
    grid-area: offset;
    display: flex;
    margin-bottom: 1rem;
}
.mensaje-offset{
    grid-area: texto;
    text-align: center;
    font-size: 0.8rem;
}
.exp-offset{
    grid-area: explicacion;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}
.exp-offset p{
    text-align: left;
    font-family: 'Roboto Condensed Light';
    align-self: center;
    font-size: 0.8rem;
    font-weight: bold;
}
.exp-offset img{
    width: 150px;
    /* height: 100px; */
}

#numoffset{
    border: 1px solid #a1a1a1;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    height: 2rem;
    padding: 0.4rem;
    
}

#btn-limpiar-offset{
    grid-area: "btnclear";
    border:none;
    border-radius:100%;
    background-color: transparent;
    width:20px;
    height: 20px;
}
#btn-limpiar-offset img{
    border:none;
    width: 45px;
    height: 45px;
}

/* todo parte denuncia con datos */
.denuncia{
    grid-area: denuncia;
}
.registro-denuncia fieldset{
    margin-top: 10px;
    border-radius: 6px;
    border: dotted 1px #FF17A2;
    padding: 0.5rem 2rem;
}
.registro-denuncia input, .registro-denuncia select{
    border: solid 1px #0000003b;
    border-radius: 5px;
    /* width: 200px; */
    height: 35px;
    text-align: center;

}

.datos-denunciado{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10px;
}
.denunciado{
    display: flex;
    flex-direction: column;
}
#informacion{
    margin-top: 1rem;
    border: 1px dotted #f1f50a;
    border-radius: 6px;
    background-color: #feffbc;
    width:200px;

}
.titulo-informacion{
    color: #ff17A2;
    margin: 1rem 0 0 0;
    text-align: center;
}
.parrafo-informacion{
    font-family: 'Roboto Condensed Light';
    padding: 10px;
    text-align: center;
}
.agregar-denunciadocd{
    display: inline-block;
    margin: 30px 0;
    width: 100px;
    height: 30px;
    border: 1px solid #eee;
    color:#FF17A2;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    padding: auto;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}
    
.agregar-denunciadocd:hover{ 
    border: 1px solid #FF17A2;
}
table {
    font-family: "Roboto Condensed Light";
    border-collapse: collapse;
    width: 95%;
    margin-top: 30px;
    font-size: 0.7rem;
}
th{
    border:1px solid #fff;
    padding: 8px;
    font-weight: bold;
}

td {
    padding: 8px;
    text-align: left;
    border:1px solid #D6EEEE;
}
tr:hover {
    background-color: #FF17A2;
    color: #fff;
}

