@font-face {
    font-family: 'Roboto Condensed';
    src:
    url('./fonts/RobotoCondensed-Bold.ttf'),
    url('./fonts/RobotoCondensed-LightItalic.ttf'),
    url('./fonts/RobotoCondensed-Regular.ttf');
    
}
@font-face{
    font-family: 'Roboto Condensed Light';
    src: url('./fonts/roboto-condensed-light.woff.ttf');
}
@font-face {
    font-family:'Great Vives';
    src: url('./fonts/GreatVibes-Regular.ttf');
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* BIENVENIDA */
.bienvenida{
    font-family: 'Roboto Condensed';
    background: url("img/violenciainfantil.jpg"); 
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.title{
    background: linear-gradient(#ff0000, #ff17A2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #ff17A2;
    font-size:2rem;
    -webkit-text-stroke: .5px rgb(34, 2, 2);
}
.subtitle{
    font-size:0.75rem;
    margin: 0 1rem;
}
.paz{
    letter-spacing: 3px;
    font-size: 0.5em;
    margin: 0 0.5rem;
}
.subtitle,.title, .paz{
    color: #fff;
}
.how-do-denunciation {
    display: grid;
    justify-content:end;
    grid-auto-flow:row;
    margin-top: 0.5rem;
    margin-right: 2.5rem;
}
.how-do-denunciation p{
    color: #ff47b2;
    font-size: 1rem;
    justify-self: end;
}
#anonima, #condatos, #socorro{
    justify-self: center;
    color: #fff;
    font-size: 0.75rem;
    cursor: pointer;
}

#anonima:hover, #condatos:hover, #socorro:hover{
    border-bottom: 1px solid #FF17A2;
    color: #FF17A2;
    text-shadow: 3px 3px 3px rgb(#fff,#fff ,#fff,0.3);
}

/* FORMULARIO */
.principal{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto Condensed';
    height: 100vh;
}
.menu{
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.menu>li{
    list-style: none;
}

.btn-inicio, .btn-denunciacd, .btn-registrocd{
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
}

/* todo DENUNCIA REGISTRANDO DATOS*/
.denuncia-con-datos{
    background-color: #fff;
}
.titulo-denuncia-con-datos{
    text-align: center;
    color: #FF17A2;
    font-size:1rem;
}

.register-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.instrucciones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
/* ACORDEON DE INSTRUCCIONES Y EXPLICACIÓN DEL CIFRADO CÉSAR */
.acordeon{
    width: 16rem;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
}
.titulo-instrucciones{
    background-color: #FF17A2;
    padding: 0.5rem;
    border: none;
    text-align:center;
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 0.75rem;
    transition: 0.4s;
}
.active, .titulo-instrucciones:hover {
    background-color: #ccc;
    color: #000000;
}
.titulo-instrucciones:after {
    content: '\002B';
    color:#fff;
    font-weight: bold;
    margin-left: 8rem;
}

.active:after {
    content: "\2212";
    color: #000;
}

.panel {
    padding: 0 1rem;
    background-color:transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel ol{
    font-family: 'Roboto Condensed Light';
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0.5rem;
}

li::marker{
    color: #FF17A2;
}

/* todo CAJA DE OFFSET*/
.desplazamiento{
    width: 16rem;
    border: dotted 1px #FF17A2;
    background-color: #fff;
    margin: auto;
}
.titulo-desplazamiento{
    background-color: #ff17A2;
    color: #fff;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    text-align: left;
    font-size: 0.75rem;
}
.body-offset{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.exp-offset{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}
.exp-offset p{
    text-align: left;
    font-family: 'Roboto Condensed Light';
    align-self: center;
    font-size: 10px;
    font-weight: bold;
}
.exp-offset img{
    width: 4.5rem;
    height: 4.5rem;
}
/* Caja donde estan los elementos del offset */
.input-offset{
    display: flex;
    flex-direction: column;
    padding:0 0.5rem;
}
.dataOfset{
    padding: 0.5rem 0;
    border: 1px solid #a1a1a1;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    font-size: 0.75rem;
}
.mensaje-offset{
    text-align: center;
    font-size: 0.75rem;
}

.botones-cif-descif{
    display: flex;
    justify-content: center;
    border:none;
    text-align: center;
    padding-bottom: 0.5rem;
}

.botones-cif-descif pre{
    font-family: 'Roboto Condensed';
    color: #FF17A2;
    text-align: center;
}

.btn-encrypt,.btn-descifrar,.btn-limpiar{
    background-color: transparent;
    font-size: 0.75rem;
    border: none;
    color: #FF17A2;
    padding: 0 0.5rem;
    cursor: pointer;
} 
.btn-encrypt img,.btn-descifrar img, .btn-limpiar img{
    width: 1.5rem;
    height: 1.5rem;
}

/*  todo FORMULARIO CON REGISTRO DE DATOS */
.datos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    width: 16rem;
    border-radius: 6px;
    border: dotted 1px #FF17A2;
    margin:0.5rem auto;
    padding: 1rem;
    
}
.datos legend, .registro-denuncia legend{
    align-self: flex-start;
    color: #fff;
    padding:0.5rem;
    background-color: #FF17A2;
    font-size: 0.75rem;
}

.datos label, .registro-denuncia label{
    font-size: 0.75rem;
    font-family: 'Roboto Condensed Light';
    font-weight: bold;
    color: #FF17A2;
    justify-self: flex-start;
    margin: 0 0.5rem;
}

.datos>input, select{
    border: solid 1px #0000003b;
    border-radius: 5px;
    text-align: center;
    font-size: 0.75rem;
    margin: 0.5rem;
    padding: 0.5rem 0;
}

select {
    color: #0000009f;
}

option[value=""][disabled] {
    display: none;
}

option {
    color:rgb(22, 21, 21);
}

/* todo parte denuncia con datos */
.denuncia{
    grid-area: denuncia;
    display:none;
}
.registro-denuncia fieldset{
    margin-top: 10px;
    border-radius: 6px;
    border: dotted 1px #FF17A2;
    padding: 0.5rem 2rem;
}
.registro-denuncia input, .registro-denuncia select{
    border: solid 1px #0000003b;
    border-radius: 5px;
    /* width: 200px; */
    height: 35px;
    text-align: center;

}

.datos-denunciado{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10px;
}
.denunciado{
    display: flex;
    flex-direction: column;
}
#informacion{
    margin-top: 1rem;
    border: 1px dotted #f1f50a;
    border-radius: 6px;
    background-color: #feffbc;
    width:200px;

}
.titulo-informacion{
    color: #ff17A2;
    margin: 1rem 0 0 0;
    text-align: center;
}
.parrafo-informacion{
    font-family: 'Roboto Condensed Light';
    padding: 10px;
    text-align: center;
}
.agregar-denunciadocd{
    display: inline-block;
    margin: 30px 0;
    width: 100px;
    height: 30px;
    border: 1px solid #eee;
    color:#FF17A2;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    padding: auto;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}
    
.agregar-denunciadocd:hover{ 
    border: 1px solid #FF17A2;
}
table {
    font-family: "Roboto Condensed Light";
    border-collapse: collapse;
    width: 95%;
    margin-top: 30px;
    font-size: 0.7rem;
}
th{
    border:1px solid #fff;
    padding: 8px;
    font-weight: bold;
}

td {
    padding: 8px;
    text-align: left;
    border:1px solid #D6EEEE;
}
tr:hover {
    background-color: #FF17A2;
    color: #fff;
}


/* RESPONSIVE */
@media screen and (min-width:550px) {
    .title{
        font-size:2.5rem;
    }
    .subtitle{
        font-size:1rem;
    }
    .paz{
        letter-spacing: 5px;
        font-size: 0.75em;
    }
    .how-do-denunciation p{
        font-size: 1rem;
    }
    #anonima, #condatos, #socorro{
        font-size: 0.75rem;
    }
    .titulo-denuncia-con-datos{
        font-size: 1.5rem;
    }
    .instrucciones{
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
    }

}
@media screen and (min-width:768px) {
    .title{
        font-size:3.5rem;
    }
    .subtitle{
        font-size:1.5rem;
    }
    .paz{
        letter-spacing: 0.5rem;
        font-size: 0.75rem;
    }
    .how-do-denunciation p{
        font-size: 1.5rem;
    }
    #anonima, #condatos, #socorro{
        font-size: 1rem;
    }
}
@media screen and (min-width:1000px) {
    .title{
        font-size:5.5rem;
    }
    .subtitle{
        font-size:2rem;
    }
    .paz{
        letter-spacing: 0.75rem;
        font-size: 1.5rem;
    }
    .how-do-denunciation{
        margin-right: 8rem;
    }
    .how-do-denunciation p{
        font-size: 1.5rem;
    }
    #anonima, #condatos, #socorro{
        font-size: 1rem;;
    }
   
    .titulo-denuncia-con-datos{
        font-size: 1.5rem;
    }
    .datos{
        width: 18rem;
    }
  
}
  